@import 'semantic-ui';

.chatbox {
    height: 450px;
}

.chatbox-login{
    height: 250px;
    min-width: 500px;
}

#messages{
    height: 15em;
    overflow: auto;
}

.input{
    button {
        display: none;
    }
}